*{
    background-color: #000;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    list-style-type: none;
    color: #d9d9d9;
   
    
    

} 
    
a{
    color: #d9d9d9;
    margin-left: 10px;
    
}

ul{
    padding-left: 0;
    margin-left: 10px;
}

li{
    color: #d9d9d9;
    font-size: 15px;
    margin-bottom: 3px;
}

div{
    font-size: 15px;
}

#grid-container{
    
    display: grid;
    
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 80vh;
}

#header {
    grid-column: span 2;    
}

#cv, #blog, #posts, #rps,#weather,#tictactoe,#website, #epsylla{
    text-decoration: underline;
}

#box{
    border: solid #d9d9d9;
    height: 350px;
    width: 700px;
}

::-moz-selection { 
    color: black;
    background: white;
}
  
::selection {
    color: black;
    background: white;
}